#moi {
  height: 60em;
  background-image: linear-gradient(to bottom, #333, #2f3833, #2d413e, #2a494d, #2c505e);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#moi .title {
  color: white;
  margin-bottom: 4%;
}
